<h1>Edit this motorbike!</h1>  

<%= form_for @motorbike do |f| %>

	Name: <%= f.text_field :name %>
	Brand: <%= f.text_field :brand %>
	Speed: <%= f.text_field :speed %>
	

	<%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to " Back to the list", motorbikes_path %>
