<h1> <%= @motorbike.name %> </h1>

<p> This motorbike is a <%= @motorbike.brand %> from <%= @motorbike.name %> and has <%= @motorbike.speed %> speeds.</p>

<%= link_to "Edit this motorbike!", edit_motorbike_path(@motorbike) %>

<%= link_to "Delete this motorbike!", :motorbike, method: :delete, data: { confirm: "Are you sure you want to delete this motorbike?" } %>
<%= link_to "Back to the list", motorbikes_path %>
